# absolute root path of your azerothcore repository
# It should not be modified if you don't really know what you're doing
SRCPATH="$AC_PATH_ROOT"

##############################################
#
#  DB ASSEMBLER CONFIGURATION
#
##############################################

#
# Basically you don't have to edit it
# but if you have another database you can add it here
# and create relative confiugurations below
#
DATABASES=(
	"AUTH"
	"CHARACTERS"
	"WORLD"
)

OUTPUT_FOLDER="$AC_PATH_ROOT/local/sql/"

# FULL DB
DB_AUTH_PATHS=(
    $SRCPATH"/data/sql/base/db_auth/"
)

DB_CHARACTERS_PATHS=(
    $SRCPATH"/data/sql/base/db_characters"
)

DB_WORLD_PATHS=(
    $SRCPATH"/data/sql/base/db_world/"
)

# UPDATES
DB_AUTH_UPDATES_PATHS=(
    $SRCPATH"/data/sql/updates/db_auth/"
    $SRCPATH"/data/sql/updates/pending_db_auth/"
)

DB_CHARACTERS_UPDATES_PATHS=(
    $SRCPATH"/data/sql/updates/db_characters/"
    $SRCPATH"/data/sql/updates/pending_db_characters/"
)

DB_WORLD_UPDATES_PATHS=(
    $SRCPATH"/data/sql/updates/db_world/"
    $SRCPATH"/data/sql/updates/pending_db_world/"
    $SRCPATH"/data/sql/updates/db_sol_world/"
    $SRCPATH"/data/sql/updates/pending_db_sol_world/"
)

# CUSTOM
DB_AUTH_CUSTOM_PATHS=(
    $SRCPATH"/data/sql/custom/db_auth/"
)

DB_CHARACTERS_CUSTOM_PATHS=(
    $SRCPATH"/data/sql/custom/db_characters/"
)

DB_WORLD_CUSTOM_PATHS=(
    $SRCPATH"/data/sql/custom/db_world/"
)
